
header {
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: antiquewhite;

}

.home{
    width: 100px;
    height: 100px;
    
}

.header-tab{
    width: fit-content;
    display: flex;
    width: 100px;
    height: 100px;
}